@font-face {
    font-family: thin-king;
    src: url("../public/Thin king.ttf") format("truetype");
  }

.closed{
    height: 250px;
    margin: 10px 90px 10px 90px;
    position: relative;
    transition: 0.8s ease;
}

.open{
    height: 1100px;
    margin: 10px 90px 10px 90px;
    position: relative;
    transition: 0.8s ease;
}

.closed:hover{
    height: 320px;
}

.dwellerName{
    margin: 0;
    padding: 0;
    letter-spacing: 20px;
    word-spacing: 30px;
    font-size: 70px;
    text-align: center;
    height: 60px;
    font-weight: 100;
    color: white;
    font-family: "thin-king", monospace;
}

.description{
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 120%;
    height: fit-content !important;
    margin: 20px 90px 20px 90px;
    text-align: justify;
    text-justify: inter-word;
    height: 60px;
    font-weight: 100;
    color: white;
    font-family: "thin-king", monospace;
}