@font-face {
    font-family: thin-king;
    src: url("../public/Thin king.ttf") format("truetype");
  }

.closed{
    height: 18vw;
    margin: 10px 7% 10px 7%;
    position: relative;
    transition: 0.8s ease;
    cursor: pointer;
}

.open{
    height: 70vw;
    margin: 10px 7% 10px 7%;
    position: relative;
    transition: 0.8s ease;
    cursor: pointer;
}

.closed:hover{
    height: 22vw;
}

.dwellerName{
    margin: 0;
    padding: 0;
    letter-spacing: 2.5vmin;
    word-spacing: 3vmin;
    font-size: 12vmin;
    text-align: center;
    font-weight: 100;
    color: white;
    font-family: "thin-king", monospace;
}

.description{
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 120%;
    height: fit-content !important;
    margin: 10px 7% 20px 7%;
    text-align: justify;
    text-justify: inter-word;
    height: 60px;
    font-weight: 100;
    color: white;
    font-family: "thin-king", monospace;
}
